/* custom styling here */

.container {
    max-width: 600px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn {
    width: 100%;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }